@tailwind base;
@tailwind components;
@tailwind utilities;


.markdown pre {
  background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #8e9091;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
.markdown  code {
  font-family: Consolas, "Courier New", monospace;
  color: rgb(94, 92, 93);
  background-color: #f1f1f1;
  padding: 2px 4px;
  border-radius: 4px;
}

pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  max-width: 100%;
  min-width: 100px;
}